:root {
--max-width: 1100px;
--border-radius: 12px;
--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
--foreground-rgb: #ffffff;
--background-start-rgb: #f3eee7;
}

@font-face {
font-family: "HK";
src: url(Rejouice-Headline-4ff9b9bbd7857ecb27f4ae48631d77f5.woff2);
}

* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

html,
body {
max-width: 100vw;
font-family: "HK";
}

body {
color: var(--foreground-rgb);
background: var(--background-start-rgb);
}

a {
color: inherit;
text-decoration: none;
}

.logo{
position: fixed;
top: 0%;
margin: 3vw;
color: #080808;
font-size: 2vw;
/* background-color: black;
color: #ffffff;
border-radius: 5vw;
padding: 1vw;
font-size: 1.2vw; */

}

.nav{
display: flex;
justify-content: center;
align-items: center;
background-color: black;
filter: blur(2);
width: fit-content;
border-radius: 5vw;
padding: .2vw;
position: fixed;
top: 0%;
margin: 2.5vw;
right: 0%;
z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.nav p{
font-size: 1.2vw;
color: white;
border-radius: 5vw;
padding: 1vw;
transition: all .5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.nav p:nth-child(1){
margin-right: 0.5vw;
}

.nav p:nth-child(3){
margin-left: 0.5vw;
}

.hero-container{
    overflow: hidden;
}

.hero-container video{    
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 100vh;
    min-width: 200%;
    z-index: -1;
    object-fit: cover;
}

#hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 10vw;
    line-height: 0.99;
}

#hero span p{
    font-size: 2vw;
    text-align: center;
    line-height: 1.2;
    text-transform:capitalize;
  }